<!-- templates/ledger/recipe_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipe List</title>
</head>
<body>
	<h1>Recipe Book</h1>
	<h2>Please see the recipes below:</h2>
	{% for item in recipes %}
		<li>
			<h3>{{ item.name }}</h3>
			<ul>
				{% for ingredient in item.ingredients.all %}
					<li>{{ ingredient.ingredient.name }}: {{ ingredient.quantity }}</li>
				{% endfor %}
			</ul>
		</li>
		<a href="{% url 'recipe_detail' pk=recipe.pk %}">Recipe Link</a>
	{% endfor %}
</body>
</html>